header,
.header {
  background: url(../images/coralbay-pano.jpg) 25% center no-repeat;
  background-size: cover;
  padding: 3em 0 4em;
  position: relative;
  // &:after {
  //   background-color: rgba(#000, .25);
  //   content:"";
  //   height: 100%;
  //   display: block;
  //   left: 0;
  //   position: absolute;
  //   top: 0;
  //   width: 100%;
  //   z-index: 1;
  // }
}
nav,
.nav {
  margin: 1.5em auto;
  padding: 1em 0;
  & a {
    color: white;
    font-family: $hand;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 0 50px;
    padding: 0 5px;
    text-transform: lowercase;
  }
}
